.specials__banner{
  overflow:hidden;
}

.specials__wrapper{
  background-color: $light-grey;

  .special__slide{
    padding: 40px 0 0;

    .special__name{
      @include montserrat-bold;
      text-transform: uppercase;
      line-height: 0.8;
      z-index: 100;
      top: 20%;
      text-align: center;
      opacity: 0;

      h3{
        color: $primary;
        font-size: 40px;
      }

      h2{
        color: $white;
        font-size: 55px;
      }
    }

    .images__wrapper{
      position: inherit;

      .special__bg{
        position: inherit; 
        width: 100%;
        opacity: 0;
        transition: all 0.3s ease;
      }
  
      .special__img{
        position: absolute;
        top: 50%;
        left: 50%;
        width: 80%;
        opacity: 0;
        transform: translate(-50%, -50%);
        transition: all 0.3s ease;
        z-index: 1;
      }
    }

    .price__actions{
      display: flex;
      flex-direction: column;
      margin: auto;
      width: 90%;
      opacity: 0;
      transition: all 0.3s ease;

      .price{
        @include nunito-bold;
        align-items: center;
        background-color: $secondary;
        color: $white;
        display: flex;
        font-size: 25px;
        height: 90px;
        justify-content: center;
        margin-top: 20px;
        padding: 0 20px;
      }

      .special__button{
        @include montserrat-medium;
        background-color: $primary;
        border: none;
        color: $white;
        cursor: pointer;
        font-size: 20px;
        padding: 10px 0;
        text-transform: uppercase;
      }
    }

    &.swiper-slide-active{
      .special__name{
        opacity: 1;
      }
      .price__actions{
        opacity: 1;
      }
      .images__wrapper{
        .special__bg{
          opacity:1;
        }
        .special__img{
          animation: rotation 4s infinite linear;
          opacity: 1;
        }
      }
    }
  }

  .swiper-pagination{
    position: relative;
    bottom: auto;
    margin: 20px 0;

    .swiper-pagination-bullet-active{
      background: $primary;
      width: 12px;
      height: 12px;
    }
  }
}

@include tablet-portrait{
  .specials__banner{
    height: calc(100vh - 80px);
  }

  .specials__wrapper{
    height: -webkit-fill-available;
    width: 140vw;
    transform: translate(-20vw, 0);

    .special__slide{
      .special__name{
        position: absolute;
        left: 0;
        top: 80px;
        text-align: left;
        
        h3{
          font-size: 60px;
        }
        h2{
          font-size: 80px;
        }
      }
      .images__wrapper{
        .special__bg{
          width: 110%;
          margin-left: -5%;
        }
        .special__img{
          opacity: 0.5;
        }
      }

      .price__actions{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: stretch;

        .price{
          margin: 0;
        }

        .special__button{
          padding-left: 30px;
          padding-right: 30px;
        }
      }

      &.swiper-slide-active{
        .special__name{
          opacity: 0.85;
        }
      }
    }

  }
}

@keyframes rotation {
  0% {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  100% {
    transform: translate(-50%, -50%) rotate(359deg);
  }
}