.product__banner{
  display: flex;
  min-height: 700px;
}

.tire__gallery,
.tire__info{
  width: 50%;
  position: relative;
}

.tire__info{
  width: 50%;
  position: relative;
  text-align: right;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-around;
}

.tire__info::after{
  content: '';
  position: absolute;
  width: calc(var(--client-width) / 2);
  height: 100%;
  left: 0;
  top: 0;
  z-index: -1;
  background-color: var(--primary);
}

.tire__name{
  color: var(--white);
  font-family: var(--montserrat);
}

.tire__name h3{
  margin: 0;
  font-size: 32px;
  font-weight: var(--medium);
}

.tire__name h2{
  margin: 0;
  font-size: 45px;
  font-weight: var(--bold);
}

.tire__price{
  color: var(--white);
  font-family: var(--nunito);
}

.tire__price p{
  margin: 0;
}

.price__label{
  font-size: 20px;
  margin-bottom: 8px;
}

.price{
  font-size: 44px;
  margin-bottom: 16px;
}

.disclaimer{
  font-family: var(--montserrat);
  font-weight: var(--heading);
  font-size: 10px;
}