.special__button {
  font-family: var(--nunito);
  font-weight: var(--bold);
  color: var(--white);
  background-color: var(--secondary);
  text-decoration: none;
  padding: 15px 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 15px;
}

.featured__button {
  font-family: var(--montserrat);
  font-weight: var(--medium);
  background-color: var(--primary);
  border: none;
  color: var(--white);
  font-size: 20px;
  margin: 0;
  padding: 10px 0;
  text-transform: uppercase;
  text-align: center;
}
