.services__swiper{
  height: calc(100vh - 80px);

  .services__item{
    position: relative;
    padding: 2rem;
    background-color: rgba(0, 0, 0, 0.5);
  }

  .services__background{
    position: absolute;
    width: 100%;
    height: auto;
    top: 0;
    left: 0;
    z-index: -1;
  }

  .services__item__content{
    .services__item__title{
      @include montserrat-bold;
      font-size: 3rem;
      line-height: 1.1;
      color: $white;
      text-transform: uppercase;
      margin-bottom: 1rem;
    }

    .services__item__description{
      @include nunito-regular;
      font-size:1.1rem;
      line-height: 1.4;
      color: $white;

    }
  }

  .swiper-button-next,
  .swiper-button-prev{
    color: $white;
  }
}

@include tablet-portrait{
  .services__swiper{
    .services__item{
      padding: 4rem 2rem;

      .container{
        display: flex;
        height: 100%;
      }

      .services__item__content{
        width: 60%;
      }


      &--bottom-right{
        .container{
          justify-content: flex-end;
          align-items: flex-end;
          text-align: right;
        }
      }
      
      &--top-right{
        .container{
          justify-content: flex-end;
          align-items: flex-start;
          text-align: right;
        }
      }

      &--bottom-left{
        .container{
          justify-content: flex-start;
          align-items: flex-end;
        }
      }

      &--top-left{
        .container{
          justify-content: flex-start;
          align-items: flex-start;
        }
      }
    }

    .swiper-button-next{
      right: 50px;
    }

    .swiper-button-prev{
      left: 50px;
    }
  }
}