:root {
  --white: #fff;
  --primary: #EC1C20;
  --secondary: #051026;
  --accent: #789696;
  --darker-opacity: #000000BC;
  --lighter-opacity: #00000080;
  --backgrounds: #EEECEC;
  --swiper-navigation-color: #fff;
  --swiper-theme-color: #fff;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@keyframes fadeIn {
  0% {opacity: 0;}
  100% {opacity: 1;}
} 

@-webkit-keyframes fadeIn {
  0% {opacity: 0;}
  100% {opacity: 1;}
}

.fadeIn {
  -webkit-animation-duration: 0.5s;
  animation-duration: 0.5s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;

  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
}

.mySwiper-services .swiper-button-next,
.mySwiper-services .swiper-button-prev{
  top: 200px;
}

@media (min-width: 768px){
  .mySwiper-services .swiper-button-next,
  .mySwiper-services .swiper-button-prev{
    top: calc(50% - 22px);
  }
}